body {
  background: url("/images/whitesand.png");
  height: $large-screen-height;
}

html {
  background: linear-gradient(to bottom right,
    $blue 0%,
    #c5e2bb 90%,
    #f9f2cf 100%) no-repeat center center fixed;
}

/*******************************
            structure
*******************************/
nav + section { clear: both;}

@media only screen and (max-width: 723px) {
  body { height: $small-screen-height;}
}

.ui.stackable.grid {
  margin-top: 4em;
  margin-bottom: 4em;
}

section {
  margin-bottom: 4em;
  margin-top: 2em;
}

.row {
  margin-top: 0.5em;
  max-width: 1280px
}

/*******************************
            imgs
*******************************/

.ui.image.small { width: 260px;}

.ui.image.medium { width: 400px;}

/*******************************
          typography
*******************************/

h1,h3 {
  font-family: $display-font;
  font-weight: 700;
}

h1 {
  color: $trans-white-85;
  font-size: 2.5em;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 2em;
  color: $green;
}

i { color: $green;}

/*******************************
          links
*******************************/

a { color: $green;}

a:hover, a:active, i:hover, i:active { color: $orange;}