@import "normalize";
@import "stylesheets/semantic";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

@charset "utf-8";

$orange: #dd6126;
$purple: #290823;
$green: #05756f;
$display-font: 'Amatic SC';

body {
  background: url("/images/background.png") center/100%;
}

.ui.segment {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ui.menu {
  .item {
    font-family: $display-font;
    font-size: 2em;
    color: $purple;
    font-weight: bold;
    padding: 0px 20px 4px 20px !important;
  }
}

.ui.text.container {
  max-width: 50%;
}

.ui.cards > .card {
  background: none;
  border-width: 2px;
}
.ui.secondary.pointing.menu .active.item {
  border-image: url("/images/line.svg") 0 0 10 0 repeat;
  border-image-width: 12px;
}

.ui.secondary.pointing.menu {
  border: none;
}

h1,h3 {
  font-family: $display-font;
}

// .banner {
//   font-size: 20em;
//   color: white;
//   z-index: -1;
//   position: absolute;
//   opacity: 0.45;
//   margin: 0 auto;

// }

h3 {
  font-weight: 700;
  font-size: 2em;
  color: $green;
  letter-spacing: 0.75px;
  margin-top: -8px;
}

h1 {
  font-size: 3em;
  color: $purple;
  letter-spacing: 1px;
}

section {
  margin-bottom: 50px;
}

.ui.vertical.stripe.segment.inverted {
  background-image: url("/images/background.png"), linear-gradient( to bottom right, #0f7988, #c5e2bb);
  opacity: 0.85;
}

.headshot {
  border: 20px solid $orange;

}

i[class*="fa-"] {
  color: #05756f;
  }

footer {
  i[class*="fa-"] {
  font-size: 200%;
  }
}


a:hover, a:active, i[class*="fa-"]:hover, i[class*="fa-"]:active {
  color: $orange;
}

