<h1 class="header">CHARLOTTE MANETTA</h1>
<h3>DEVELOPER | DESIGNER | SOCCER COACH</h3>
<p>I am a full stack web developer and graphic designer. I build applications that are both functional and beautiful. I have five years of experience working at all levels of a small growing company – I started in customer service and became lead graphic designer, IT manager and advisor to the CEO. I have been involved in all aspects of the collaborative design process from idea generation to production.</p>


