<div class="blurb">
  <img src="images/name.svg" alt="Charlotte" class="ui image">
  <img src="images/tagline.svg" alt="developer, designer, soccer coach" class="ui image tagline">

  <p>Hi! I'm a full stack developer and graphic designer looking for a full-time developer job in the Bay Area. I love to create beautiful and functional web applications and I'm crazy about getting the details right. I can work with Ruby, Rails and JavaScript including JS frameworks like React and I love to learn new languages and web technologies.</p>

  <p><a href="mailto:hello@charlottemanetta.com">hello@charlottemanetta.com</a></p>
  <p><a class="social" href="https://github.com/cjmanetta"><i class="github icon"></i></a> <a class="social" href="https://www.linkedin.com/in/cjmanetta"><i class="linkedin icon"></i></a></p>

</div>


