<div class="column">
  <h3>email me:</h3>
  <a href="mailto:hello@charlottemanetta.com">hello@charlottemanetta.com</a>
</div>

<div class="column">
  <h3>© 2016 Charlotte Manetta</h1>
  </div>


  <div class="column">
    <button class="ui circular mail icon button">
      <i class="mail icon"></i>
    </button>
    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>
    <button class="ui circular github icon button">
      <a href="https://github.com/cjmanetta"><i class="github icon"></i></a>
    </button>
    <p>checkout my <a class="item" href="https://github.com/cjmanetta">github<i class="fa fa-github"></i></a>or my
      <a class="item" href="https://www.linkedin.com/in/charlottemanetta">linkedin<i class="fa fa-linkedin"></i></a></p>
    </div>
