<footer class="row">
  <div class="ui horizontal list">
    <div class="item"><a href="https://github.com/cjmanetta"><i class="fa fa-github"></i></div>
    <div class="item"><a href="https://www.linkedin.com/in/charlottemanetta"><i class="fa fa-linkedin"></i></a></div>
  </div>
</footer>