<nav>
  <ul>
    <% data.local_data.pages.each do |page| %>
      <% page.each do |label, url| %>
          <li><a href="<%= url %>"><%= label %></a></li>
      <% end %>
    <% end %>

    <li><a href="https://github.com/cjmanetta"><i class="github icon"></i></a></li>
    <li><a href="https://www.linkedin.com/in/charlottemanetta"><i class="linkedin icon"></i></a></li>

  </ul>
</nav>