<nav class="">
  <ul class="">
    <% data.local_data.pages.each do |page| %>
      <% page.each do |label, url| %>
          <li><a href="<%= url %>"><%= label %></a></li>
      <% end %>
    <% end %>
  </ul>
</nav>