
html {
  background-color: #79BDAB;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #646464;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}

a, li {
color: #646464;
text-decoration: none;
font-size: 14px;
}

a:hover, a:active {
  border-bottom: 2px solid #F05B34;
  color: #F05B34;
}

nav.main {
  margin: 0 auto 0 30px;
  width: 100%;
}

nav.main ul li {
  padding: 30px;
  text-align: center;
  display: inline;

}

section, article {
  float: left;
  min-width: 375px;
  max-width: 600px;
}

.blogListing {
  clear: both;
}

 article:hover, article:active {
  background-color: #92BDAB;
  padding: 8px;
  border-radius: 6px;
}

article a:hover, a:active {
  color: inherit;
}

.code {
  border: 1px dotted #646464;
  font-family: consolas,"courier new",monospace;
  padding: 10px;
  clear: both;
}

#cars {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 300px;
}

.snippet {
width: 600px;
}

h1, h2, h3, a, li {
  font-family: 'Montserrat', sans-serif;
}

.body_link {
  color: #F05B34;
}

h1 {
  font-size: 28px;
  letter-spacing: 2px;
  color: #F05B34;
  margin-top: 60px;

}

#blogTitle {
  font-size: 60px;
  margin-top: 80px;
}

h2 {
  font-size: 14px;
  color: #FFFFC0;
  margin-top: -10px;
  letter-spacing: 2px;
  border-bottom: 1px dotted #646464;
  max-width: 600px;
  padding-bottom: 2px;
}

h3 {

  font-size: 14px;
  color: #F05B34;
  margin-bottom: -12px;

}

.listing {
  margin-bottom: 12px;
}

#blogIntro {
  min-width: 375px;
  max-width: 800px;
}

#headshot {
  -webkit-clip-path: circle(35% at 58% 34%);
  float: left;
  margin: 60px 60px 20px 20px;
}


nav.social {
  float: left;
  margin: 80px 0px 0px 20px;

}

nav.blog {
  float: left;
  margin: 80px 0px 0px 20px;
}

nav.blog ul {
  list-style-type: none;
}

nav.blog ul li {
  padding-top: 0px;
}

li.head {
  font-size: 24px;
  padding-bottom: -10px
}


li {
  padding-top: 12px;
  list-style-type: none;
}



