---
title: Welcome to Middleman
pages:
  -
    "about me": "index.html"
    "resume": "resume.html"
    "projects": "projects.html"
---

<%= partial("partials/nav") %>
<div class="ui two column vertically divided centered grid container">
  <section class="row">
    <article class="column">
      <aside class="ui card">
      <img class="ui image" src="images/headshot.png" alt="Charlotte Manetta">
      <div class="content">
        <h1 class="header">CHARLOTTE MANETTA</h1>
        <div class="description">
          <p>DEVELOPER | DESIGNER | SOCCER COACH</p>
        </div>
      </div>
    </aside>
    </article>
    <article class="column">
      <p>I am a graphic designer and aspiring web developer located in the bay area. I am currently attending Dev Bootcamp and I expect to graduate in August 2015 with all of the skills necessary to become a full stack web developer.</p>
      <p>I have a passion for beautiful and functional graphic design and five years of experience working in design, IT and customer service departments of a small company. I have been involved in every aspect of the design process from idea generation through to production and implementation. I am hoping to use my background in graphic design to offer a unique perspective in the world of web development.</p>
    </article>
  </section>
  <%= partial("partials/footer") %>
</div>