---
title: Welcome to Middleman
pages:
  -
    "about me": "index.html"
    "resume": "resume.html"
    "projects": "projects.html"
---

<%= partial("partials/nav") %>
<div class="ui two column vertically divided centered grid container">
  <section class="row">
    <article class="column">
      <img class="ui medium circular image" src="images/headshot.png" alt="Charlotte Manetta">
    </article>
    <article class="column">
      <button class="ui button">blahhhhh</button>

    </article>
  </section>
  <section class="row">
    <p>theres some stuff in here</p>
  </section>
</div>