---
:title: Charlotte Manetta
---
<main>
  <%= partial("partials/nav") %>
  <nav class="social">
      <ul>
        <li>
          <a class="item" href="https://github.com/cjmanetta"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a class="item" href="https://www.linkedin.com/in/charlottemanetta"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </nav>

  <section class="ui two column stackable centered center aligned middle aligned grid" id="about">
    <article class="column">
        <img class="ui circular centered image headshot medium" src="/images/headshot.png" alt="Charlotte Manetta">
    </article>
    <article class="column">
      <%= partial("partials/about") %>
    </article>
  </section>

  <section class="ui three column stackable center aligned grid" id="projects">
    <%= partial("partials/projects") %>
  </section>
  <!-- <div class="bground"> </div> -->
</main>