---
title: Welcome to Middleman
pages:
  -
    "about me": "#about"
    "projects": "projects.html"
    "resume": "resume.html"
---

<%= partial("partials/nav") %>
<div class="ui two column centered grid">

  <%= partial("partials/about") %>
  <%= partial("partials/footer") %>
</div>