---
:title: Charlotte Manetta
---
<main>
  <%= partial("partials/nav") %>
  <nav class="social">
      <ul>
        <li>
          <a class="item" href="https://github.com/cjmanetta"><i class="github icon"></i></a>
        </li>
        <li>
          <a class="item" href="https://www.linkedin.com/in/charlottemanetta"><i class="linkedin icon"></i></a>
        </li>
      </ul>
    </nav>

  <article class="ui two column stackable centered center aligned middle aligned grid" id="about">
    <section class="column">
        <img class="ui circular centered image headshot medium" src="/images/headshot.png" alt="Charlotte Manetta">
    </section>
    <section class="column">
      <%= partial("partials/about") %>
    </section>
  </article>

  <article class="project ui three column stackable center aligned grid" id="projects">
    <%= partial("partials/projects") %>
  </article>

  <footer class="ui stackable three column center aligned grid container">
    <%= partial("partials/footer") %>
  </footer>
</main>