.project {
  background: $trans-white-25 center center fixed;
  // background-size: cover;
  padding-top: 3px;
  padding-bottom: 3px;

  img {
    border-radius: 3px;
    box-shadow: $box-shadow;
  }

  .tags {
    .ui.label {
      background-color: $green;
      color: white;
    }
  }

  .info {
    text-align: left;
    width: 260px;
    margin: 0.5em auto;

    p {
      padding: 2px;
    }

    .extra {
      float: right;
      color: gray;
      font-size: 0.85em;
    }

    i {
      word-spacing: 2px;
    }
  }

}