.project {
  img {
    border-radius: 2px;
  }

  .info {
    text-align: left;
    width: 260px;
    margin: 0.5em auto;

    p {
      padding: 2px;
    }

    .extra {
      float: right;
      color: gray;
      font-size: 0.85em;
    }
  }

  .tags {
    .ui.label {
      background-color: $green;
      color: white;
    }
  }
}